.orderItem {
    display: flex;
    margin-bottom: 30px;
}
.orderItem .cover {
    width: 200px;
    margin-right: 30px;
}

.orderItem .title {
    font-size: 24px;
    font-weight: bold;
}

.orderItem .price {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}